$size: 28px;
$thickness: 1px;
$centre-size: #{$size / 11};
$color: #222d31;
$accent: #ffc64a;
$text-light: #456f96a2;
$container-size: #{$size / 1.2};
$transform: #{$container-size / 2};

div.frame {
  width: $size;
  height: $size;
  border: $color solid $thickness;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $accent;
  background: linear-gradient(
    270deg,
    $accent,
    $text-light,
    $accent,
    $text-light
  );
  background-size: 500% 500%;

  -webkit-animation: AnimationName 40s linear infinite;
  -moz-animation: AnimationName 40s linear infinite;
  animation: AnimationName 40s linear infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  div.centre-circle {
    position: absolute;
    width: $centre-size;
    height: $centre-size;
    border-radius: 50%;
    border: $color solid 1px;
    background-color: white;
    z-index: 5;
  }

  div.container {
    width: $container-size;
    height: $container-size;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.hour-hand {
    width: $thickness;
    height: 25%;
    background: $color;

    position: absolute;
    bottom: 50%;

    // transform: rotate(-190deg);
    backface-visibility: hidden;
    outline: 1px solid transparent;
    transform-origin: 50% 100%;
  }

  div.minute-hand {
    width: $thickness;
    height: 40%;
    background: $color;

    position: absolute;
    bottom: 50%;

    // transform: rotate(20deg);
    backface-visibility: hidden;
    outline: 1px solid transparent;
    transform-origin: 50% 100%;
  }

  div.second-hand {
    width: $thickness;
    height: 50%;
    background: rgb(150, 0, 0);

    position: absolute;
    bottom: 50%;

    // transform: rotate(50deg);
    backface-visibility: hidden;
    outline: 1px solid transparent;
    transform-origin: 50% 100%;
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

// .hour-container {
//   animation: rotate 43200s infinite linear;
// }
// .minute-container {
//   animation: rotate 3600s infinite linear;
// }
// .second-container {
//   animation: rotate 60s infinite linear;
// }

// .minute-container {
//   animation: rotate 3600s infinite steps(60);
// }
// .second-container {
//   animation: rotate 60s infinite steps(60);
// }
