@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Space+Mono&display=swap");

$ibm-sans: rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$josefin: "Josefin Sans", "Glacial Indifference", -apple-system,
  BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$metropolis: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$dark: #1b2429;
$dark: #212c30;
// $dark: #1c2232;
$black: #1b2429;
$footer: #d0d9d8;
$light: #e1e5e9;
// $light: #e4e8ec;
$lighter: #eaf3f8;
$lighter-2: #f4fbfd;
$bg-grey: #c2ced4;
$light-outline: #cadbdf;
$text-light: #6d8faf;

$text-light-2: #1d354b;
$accent: #ffc64a;
// $accent: #e68181;
// $accent: #b6a2be;
// $accent: #6db18f;
// $accent: #ecae7c;
$accent-2: #ffffff;

$small-mobile-width: 368.8px;
$mobile-width-1: 550px;
$midscreen-width-1: 689px;
$desktop-width-1: 950px;

@mixin small-mobile-width {
  @media (max-width: #{$small-mobile-width}) {
    @content;
  }
}

@mixin mobile-width-1 {
  @media (min-width: #{$mobile-width-1}) {
    @content;
  }
}

@mixin midscreen-width-1 {
  @media (min-width: #{$midscreen-width-1}) {
    @content;
  }
}

@mixin desktop-width-1 {
  @media (min-width: #{$desktop-width-1}) {
    @content;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: $ibm-sans;
  color: $dark;
  //   border-color: $dark;

  ul {
    list-style-type: none;
  }
}

body {
  background-color: $light;
  border-top: $accent 6.3px solid;
  background: $accent;
}

div.full-page-wrapper {
  background-color: $light;

  // border-top: #fff06a 12px solid;
  border-top: $text-light 6.3px solid;
  position: relative;

  //* extra padding added to ensure footer stays at bottom
  padding-bottom: 40vh;

  @media only screen and (min-height: 1039px) {
    padding-bottom: 45vh;
  }

  @media only screen and (min-height: 1150px) {
    padding-bottom: 60vh;
  }

  @include desktop-width-1 {
    padding-bottom: 75px;
  }
  .show-desktop {
    display: none;

    @include desktop-width-1 {
      display: block;
    }
  }

  .hide-mobile {
    @include desktop-width-1 {
      display: none;
    }
  }

  header#page-header {
    padding: 30px 9%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop-width-1 {
      border-bottom: 0.8px solid $bg-grey;
      //* changed to 22.5 to remove yellow (accent) bit on page bottom
      padding: 22.5px 5.2%;
    }

    a.title-link {
      text-decoration: none;

      h2.page-title {
        font-family: $josefin;
        font-size: 28px;
        letter-spacing: -0.08em;
      }
    }

    nav {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;

      font-weight: 400;
      font-size: 13.5px;

      a.hide-mobile {
        img.hamburger {
          height: 17px;
        }
      }

      ul {
        display: flex;

        li.nav-list-item.contact,
        li.nav-list-item.sign-up {
          a {
            text-decoration: none;
            outline: 0;
            transition: border-bottom 0.3s ease, color 0.3s ease;
          }

          a:hover {
            color: $text-light;
            border-bottom: $accent solid 2px;
          }
        }

        li.nav-list-item.contact {
          a {
            margin-left: 20px;
            background-color: $accent;
            border: solid $dark 1px;
            padding: 5px 4.5px;
            padding-left: 15px;

            border-radius: 4px;

            transition: background-color 0.15s ease, color 0.3s ease,
              border-left 0.26s linear, border-right 0.26s linear,
              border-top 0.26s linear, border-bottom 0.26s linear;
          }

          a:hover {
            color: $text-light;
            border: solid $accent 1px;
            background-color: transparent;
          }
        }
      }
    }
  }

  main {
    @include desktop-width-1 {
      margin: 0px 5.2%;

      display: flex;
      align-items: center;
      //todo use justify-content and width of "forms-and-results" bit to ensure the main section is properly centered/aligned
      // justify-content: space-between;
      // background-color: aqua;

      height: 100%;
    }

    div.dash-bar-and-selector {
      // width: 100vw;
      // * height removed as selector has been disabled
      height: 109px;
      position: relative;
      overflow-x: scroll;
      font-size: 0; //*Removes automatic gap between buttons

      @include mobile-width-1 {
        height: 119px;
      }

      @include midscreen-width-1 {
        // * height removed as selector has been disabled
        height: 135.5px;
      }

      @include desktop-width-1 {
        height: calc(100vh - 161.7px);
        display: flex;
        flex-direction: row;
        overflow-x: initial;
        position: relative;

        // width: 250px; //todo decide whether to change this to a percentage

        @media only screen and (max-height: 829px) {
          height: 685.5px;
        }
      }

      div.desktop-selector.show-desktop {
        @include desktop-width-1 {
          height: 12vh;
          width: 8px;
          background-color: $dark;
          margin-top: 2.6vh;
          //todo equation below can be used to move selector down to be beside other tabs (with JS)
          //todo multiplier should be used
          // margin-top: calc((((100vh - 74.6px) / 5) * 2) + 2.4vh);

          // position: absolute;
          // top: 16px;
          display: block;
          // display: none;

          @media only screen and (max-height: 829px) {
            margin-top: 19.9167px;
            height: 99.6px;
          }

          // @media only screen and (min-height: 850px) {
          //   border-right: none;
          //   height: 102px;
          //   margin-top: 22.0833px;
          // }
        }
      }

      button.collapse-button.show-desktop {
        height: 22px;
        width: 18px;

        border: $dark 1px solid;
        border-left: none;
        // border-top: none;
        background-color: transparent;

        margin-top: 10%;

        cursor: pointer;

        outline: 0;

        display: none;

        img {
          height: 9px;

          // filter: invert(100%) sepia(0%) saturate(2206%) hue-rotate(274deg)
          //   brightness(113%) contrast(91%);
        }

        @media only screen and (max-height: 651px) {
          margin-top: 18.5px;
        }
      }

      div.mobile-selector {
        width: calc(28% - 25px);
        height: 8px;
        background-color: $dark;
        position: absolute;
        left: 12.5px;

        @include mobile-width-1 {
          width: 129px; //* 155px - 25px
        }

        @include midscreen-width-1 {
          width: calc(20vw - 25px);
        }
      }

      div.dash-bar {
        display: flex;

        @include midscreen-width-1 {
          width: 100vw;
        }

        @include desktop-width-1 {
          flex-direction: column;
          // width: 17.8vh; //todo decide whether to change this to a percentage
          width: 137px;
          height: calc(100vh - 161.7px);

          // border-left: $dark 3px solid;
          border-top: none;

          @media (max-height: 829px) {
            // width: 165px;
            height: 685.5px;
          }
        }

        button.dash-button {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          font-family: $metropolis;

          cursor: pointer;

          //* flex property is used to forcefully define width (https://stackoverflow.com/questions/21406397/width-ignored-on-flexbox-items).
          //* this makes the overflow-x property work
          flex: 0 0 27%;
          height: 90px;
          border: none;
          outline: 0;
          font-size: 16px;
          font-weight: 300;

          color: $text-light;
          background-color: $lighter;

          &.status-button {
            font-size: 17.5px;
          }

          @include mobile-width-1 {
            // flex: 0 0 24%;
            height: 100px;
            font-size: 19px;

            &.status-button {
              font-size: 20px;
            }
          }

          @include midscreen-width-1 {
            flex: 0 0 calc(100vw / 5);
            height: 100px;
            font-size: 21px;

            &.status-button {
              font-size: 22px;
            }
          }

          @include desktop-width-1 {
            transition: border 0.3s ease, background-color 0.5s ease;

            flex: 0 0 calc(100% / 5);
            height: 20%;
            font-size: 23px;
            border-bottom: $accent 1.5px solid;

            &.status-button {
              font-size: 24px;
            }

            border: none;
            //! left border added
            border-right: $accent 1.5px solid;
            border-bottom: 0;
          }

          img {
            margin-top: 8px;
            // * Filter converts icon colours to $text-light
            filter: invert(58%) sepia(42%) saturate(320%) hue-rotate(168deg)
              brightness(87%) contrast(88%);
          }

          //* styling of the button's hover bit, also repeated for the "selected" class
          .button-title {
            font-family: $metropolis;
            color: $text-light;
          }

          .button-hover-text {
            display: none;
          }

          @include desktop-width-1 {
            &:hover {
              background-color: $accent-2;
              text-align: left;

              border: $accent 1.5px solid;

              .button-title {
                display: block;
                width: 80%;
                justify-self: left;
                font-family: $metropolis;
                text-decoration: underline;
                font-size: 21px;
                font-weight: normal;
              }

              img {
                display: none;
              }

              .button-hover-text {
                display: block;
                width: 80%;
                margin: 5px 10px 0;
                color: $text-light;
                font-size: 12px;
                font-weight: normal;
              }
            }
          }
        }

        button.status-button {
          img {
            height: 25px;
          }
          border-right: $bg-grey 0.5px solid;
          border-bottom: $accent 1.5px solid;

          @include desktop-width-1 {
            border-top: none;
            border-right: none;
            border-right: $accent 1.5px solid;
            border-bottom: 0;
            img {
              height: 30px;
            }
          }
        }

        button.history-button {
          border-right: $bg-grey 0.5px solid;
          border-bottom: $accent 1.5px solid;
          @include desktop-width-1 {
            border-right: none;
            border-right: $accent 1.5px solid;
            border-bottom: 0;
            border-top: $bg-grey 0.5px solid;
          }

          img {
            height: 23px;
          }
        }

        button.maps-button {
          border-right: $bg-grey 0.5px solid;
          border-bottom: $accent 1.5px solid;

          @include desktop-width-1 {
            border-right: none;
            border-right: $accent 1.5px solid;
            border-bottom: 0;
            border-top: $bg-grey 0.5px solid;
          }

          img {
            height: 22px;
          }
        }

        button.forecast-button {
          border-right: $bg-grey 0.5px solid;
          border-bottom: $accent 1.5px solid;

          @include desktop-width-1 {
            border-top: $bg-grey 0.5px solid;
            border-right: $accent 1.5px solid;
            border-bottom: 0;
          }

          img {
            height: 20px;
          }
        }

        button.rankings-button {
          border-bottom: $accent 1.5px solid;
          @include desktop-width-1 {
            border-top: $bg-grey 0.5px solid;
            border-bottom: 0;
          }

          img {
            height: 20px;
          }
        }

        button.dash-button.selected {
          border: none;

          border-top: $text-light 1.5px solid;

          background-color: $bg-grey;
          font-size: 18px;
          font-weight: 400;
          &.status-button {
            font-size: 20px;
          }

          @include midscreen-width-1 {
            font-size: 22px;

            &.status-button {
              font-size: 23px;
            }
          }

          @include desktop-width-1 {
            font-size: 26px;
            border-left: $text-light 1.5px solid;
            // border-right: $text-light-gradient 1.5px solid;
            border-top: none;

            &.status-button {
              font-size: 27px;
            }
          }

          img {
            // height: 30px;
            filter: none;
            filter: invert(16%) sepia(54%) saturate(547%) hue-rotate(167deg)
              brightness(94%) contrast(93%);
            margin-top: 5px;
          }

          .button-title {
            color: $dark;
            letter-spacing: -0.03em;
          }

          @include desktop-width-1 {
            &:hover {
              // border: $text-light 2.5px solid;

              .button-title {
                font-weight: 500;
                color: $text-light-2;
                letter-spacing: -0em;
              }

              .button-hover-text {
                color: $text-light-2;
              }
            }
          }
        }

        //* prevents the creation of a double border at the top and bottom dash bar
        //! All borders removed anyway
        // button.status-button.dash-button {
        //   border-left: none;
        //   @include desktop-width-1 {
        //     border-top: none;
        //   }
        // }

        // button.rankings-button.dash-button {
        //   border-right: none;
        //   @include desktop-width-1 {
        //     border-bottom: none;
        //   }
        // }

        button.dash-button.selected {
          .button-title {
            color: $text-light-2;
          }
          @include desktop-width-1 {
          }
        }
      }
    }

    div.forms-and-results {
      margin-top: 32px;
      // display: none;

      @include desktop-width-1 {
        width: 100%;
        margin-top: 0;
        padding-left: 4.5%;
      }

      section.forms {
        margin: 0% 9%;
        margin-bottom: 45px;

        @include midscreen-width-1 {
          margin-bottom: 64px;
        }

        @include desktop-width-1 {
          margin: 0% 7%;
          margin-bottom: 38px;
        }

        header.forms-header {
          h2 {
            color: $text-light-2;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 20px;

            font-family: $metropolis;
            // font-feature-settings: "salt" on;
            letter-spacing: -0.015em;

            @include desktop-width-1 {
              font-size: 18px;

              margin-bottom: 25px;
              text-align: left;
            }
          }
        }

        div.forms-body {
          label.form-label {
            margin-bottom: 2px;
            display: block;
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            color: $text-light;

            @include desktop-width-1 {
              padding-left: 30px;
              text-align: left;
            }
            // display: none;
          }

          input.input {
            width: 100%;
            height: 39px;
            font-size: 15px;
            font-family: $ibm-sans;
            font-weight: 500;
            box-shadow: none;
            border: 0;
            border-radius: 0px;
            border: 0.5px solid $footer;
            border-bottom: 1px solid $text-light;
            // border-top: 0.5px solid $accent;
            outline: 0;
            text-align: center;
            background-color: $lighter-2;
            color: $dark;

            //* added to remove default mobile form box-shadow inset
            -webkit-appearance: none;

            &:focus {
              border: 0.5px solid $light-outline;
              // border-top: 0.5px solid $bg-grey;
              border-bottom: 1px solid $dark;
              background-color: $accent-2;
            }

            @include mobile-width-1 {
              height: 40px;
              font-size: 15.5px;
            }

            @include desktop-width-1 {
              height: 40px;
              font-size: 15.5px;
              display: block;
              padding-left: 30px;
              text-align: left;
            }

            &::placeholder {
              font-weight: 400;
              font-size: 14px;
              color: $text-light;
              @media only screen and (max-width: 344px) {
                font-size: 13px;
              }
            }
          }
        }
      }

      hr.divider {
        border: none;
        border-top: $bg-grey solid 0.5px;
      }

      section.results {
        padding: 0% 9%;
        padding-top: 40px;
        padding-bottom: 100px;
        opacity: 0.2;

        //* scrollbar styling begins
        ::-webkit-scrollbar {
          width: 10px;
          background-color: $accent-2;
        }

        // ::-webkit-scrollbar-track,
        // ::-webkit-scrollbar-thumb {
        // border: 1px solid $dark;
        //   border-left: 20px solid $light;

        //   box-shadow: inset 0 0 0 -1px red;
        // }

        ::-webkit-scrollbar-track {
          background-color: $accent-2;
          // background-clip: padding-box;
          border: 0.5px solid $dark;
          // border-top: 0;
          // border-bottom: 0;
        }

        ::-webkit-scrollbar-thumb {
          // background-clip: padding-box;
          background-color: $dark;
          // border-bottom: 30px solid $dark;
          // border-top: 30px solid $dark;
        }
        //* scrollbar styling ends

        @include midscreen-width-1 {
          padding: 0% 7%;
          padding-top: 40px;
          padding-bottom: 100px;
        }

        @include desktop-width-1 {
          padding-top: 40px;
          padding-bottom: 0;
        }

        div.header-key {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 25px;
          @include desktop-width-1 {
            margin-bottom: 15px;
          }
        }

        header.results-header {
          h2 {
            font-size: 18px;
            font-weight: 500;
            color: $text-light-2;
            // text-align: center;
            font-family: $metropolis;
            // font-feature-settings: "salt" on;
            letter-spacing: -0.015em;

            // @include desktop-width-1 {
            //   font-size: 18px;
            //   // font-weight: 600;
            // }
          }
        }

        section.key-section {
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;

          h4 {
            margin-bottom: 5px;
            font-size: 13px;
            font-weight: bold;
            text-decoration-line: underline;
            // color: $text-light-2;
          }

          div.light-section {
            margin-top: 3px;
          }

          div.label-swab {
            display: flex;
            align-items: center;
            justify-content: left;

            // background-color: #8b8b8b;
            width: 91px;

            div.swab {
              // border: $dark 0.5px solid;
              border-radius: 3px;
              width: 33px;
              height: 13px;

              margin-right: 8px;

              -moz-box-shadow: 3px 3px 3px 3px rgba(32, 32, 32, 0.07);
              box-shadow: 3px 3px 3px 3px rgba(32, 32, 32, 0.07);
            }

            p {
              font-size: 12px;
              // color: $text-light-2;
            }
          }

          div.no-light-key-swab {
            background-color: $black;
          }

          div.light-key-swab {
            background-color: $accent-2;
            border: 0.5px solid $light-outline;
          }
        }

        div.cards-container {
          @include desktop-width-1 {
            height: 40vh;
            overflow-y: auto;

            // padding-top: 10px;
            // padding-bottom: 15px;
            // border-top: solid $dark 0.5px;
            // border-bottom: solid $dark 0.5px;

            @media only screen and (max-height: 829px) {
              height: 356.467px;
            }
          }
        }

        div.cards-section {
          // background-color: #8b8b8b;

          display: grid;
          justify-content: space-between;
          grid-template-columns: 46.5% 46.5%;
          row-gap: 40px;
          column-gap: 20px;

          @include midscreen-width-1 {
            grid-template-columns: 31.4% 31.4% 31.4%;
          }

          @include desktop-width-1 {
            grid-template-columns: 100%;

            width: 100%;

            align-content: normal;
            row-gap: 20px;
          }

          a.card {
            height: 122px;
            display: grid;
            grid-template-columns: 25% 75%;
            grid-template-rows: 80px 42px;
            border: 0.5px solid $light-outline;
            border-radius: 6px;
            outline: 0;

            text-decoration: none;

            align-items: center;
            justify-items: center;

            backface-visibility: hidden;
            -webkit-font-smoothing: subpixel-antialiased;
            transform: translateZ(0);

            box-shadow: rgba(0, 0, 0, 0.082) 0px 2px 5px 0px;

            &:hover {
              transform: scale(1.02) translateZ(0);
              backface-visibility: hidden;

              -moz-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.15);
              box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.15);

              -webkit-font-smoothing: subpixel-antialiased;
            }

            @include desktop-width-1 {
              height: 38px;
              width: 97%;
              margin-left: 0.95%;
              grid-template-columns: 3.67% 82.37% 13.96%;
              grid-template-rows: 38px;
            }

            div.image-container {
              height: 100%;
              width: 100%;
              grid-column: 1/2;
              grid-row: 2/3;
              display: flex;
              justify-content: center;
              align-items: center;
              // border-top: $dark solid 0.5px;
              // border-right: $dark solid 0.5px;

              @include desktop-width-1 {
                grid-row: 1/1;
                border: 0;
              }
            }

            img.card-image {
              height: 69%;
              grid-column: 1/2;
              grid-row: 2/3;

              @include desktop-width-1 {
                padding-left: 10px;
              }
            }

            img.lantern {
              height: 75%;
            }

            div.view-container {
              height: 100%;
              width: 100%;
              grid-column: 2/3;
              grid-row: 2/3;

              display: flex;
              justify-content: center;
              align-items: center;
              // border-top: $dark solid 0.5px;

              @include desktop-width-1 {
                grid-row: 1;
                grid-column: 3/4;
                border: 0;
                // background-color: rgb(77, 39, 77)
              }
            }

            p.view-details {
              font-size: 10px;
              grid-column: 2/3;
              grid-row: 2/3;
              border-bottom: 0.5px solid $dark;
              font-weight: 500;
              font-family: $metropolis;

              // text-decoration-line: underline;
              // text-decoration-style: solid;

              @include small-mobile-width {
                font-size: 9px;
              }

              @include desktop-width-1 {
                font-size: 9px;
              }
            }

            p.full-add {
              padding-left: 10px;
              padding-right: 17px;
              font-size: 14px;
              grid-column: 1/3;
              grid-row: 1/2;
              text-decoration: none !important;
              display: inline-block;
              font-weight: 400;

              @include small-mobile-width {
                font-size: 13.5px;
              }

              @include desktop-width-1 {
                grid-row: 1;
                grid-column: 2/3;

                justify-self: left;
                padding-left: 4%;

                font-size: 14.5px;

                @include desktop-width-1 {
                  margin-left: 10px;
                }
              }
            }
          }

          a.white-card {
            background-color: $accent-2;
            transition: transform 0.7s ease, border-right 0.5s ease;

            &:hover {
              border-bottom: $text-light solid 3px;
              @include desktop-width-1 {
                border-right: $text-light solid 8px;
                border-bottom: none;
              }
            }
            div.view-container {
              // border-top: $bg-grey solid 0.5px;

              @include desktop-width-1 {
                border: 0;
              }
            }
            p.view-details {
              color: $dark;
              border-bottom: 0.5px solid $bg-grey;
            }
            p.full-add {
              color: $dark;
            }
            div.image-container {
              // border-top: $bg-grey solid 0.5px;
              // border-right: $bg-grey solid 0.5px;

              @include desktop-width-1 {
                border: 0;
              }
            }
            img.card-image.bulb-or-lantern {
              filter: invert(0%) sepia(0%) saturate(1194%) hue-rotate(162deg)
                brightness(90%) contrast(75%);
              height: 19.9084px;
            }
          }

          a.black-card {
            background-color: $black;
            border: none;
            transition: transform 0.7s ease, border-right 0.5s ease;

            &:hover {
              border-bottom: $accent solid 3px;
              @include desktop-width-1 {
                border-right: $accent solid 8px;
                border-bottom: none;
              }
            }

            div.view-container {
              // border-top: $bg-grey solid 0.5px;

              @include desktop-width-1 {
                border: 0;
              }
            }
            p.view-details {
              color: $accent-2;
              border-bottom: 0.5px solid $bg-grey;
            }
            p.full-add {
              color: $accent-2;
            }
            div.image-container {
              // border-top: $bg-grey solid 0.5px;
              // border-right: $bg-grey solid 0.5px;

              @include desktop-width-1 {
                border: 0;
              }
            }
            img.card-image.bulb-or-lantern {
              filter: invert(100%) sepia(13%) saturate(234%) hue-rotate(2deg)
                brightness(123%) contrast(100%);
              height: 25.245px;
            }
          }

          // //! ALAUSA CARDS HIDDEN DUE TO MISSING INFORMATION
          // a.alausa-1-card {
          //   display: none;
          // }
        }
      }
    }
  }

  // *styling of view-details large card
  main {
    section.card-details {
      display: none;
      padding: 0% 9%;
      width: 100%;

      @include desktop-width-1 {
        width: 80%;
        padding: 0px;
        margin-left: 6.3%;
        justify-self: center;
      }

      a.back-results {
        display: block;
        display: none;
        text-align: center;
        // margin: 10px auto 20px;
        padding-top: 16px;
        padding-bottom: 40px;
        font-size: 15px;

        @include desktop-width-1 {
          font-size: 13px;
          padding-top: 0;
          padding-bottom: 15px;
        }
      }

      div.enlarged-card {
        position: relative;
        text-align: center;
        padding: 0 7%;
        padding-top: 60px;
        padding-bottom: 35px;
        border: $light-outline 0.3px solid;
        border-radius: 5px;
        // margin-bottom: 200px;
        width: 100%;
        margin: 32px auto auto auto;
        background-color: $lighter;

        @include desktop-width-1 {
          margin-top: 0;
          padding-top: 35px;
          width: 88%;
        }

        button.enlarged-card-close {
          position: absolute;
          top: 0;
          right: 0;
          width: 30%;
          height: 30px;
          border-radius: 4px 0 10px 0;
          border-radius: 0 4px 0 10px;
          border: 0;
          color: $accent-2;
          background-color: $dark;
          cursor: pointer;

          font-size: 15px;
          font-weight: 500;

          &:hover {
            opacity: 0.8;
          }

          @include desktop-width-1 {
            width: 10%;
            height: 5%;
            border-radius: 4px 0 10px 0;
            left: 0;
          }
        }

        header.enlarged-card-header {
          padding-bottom: 30px;

          @include desktop-width-1 {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 100%;
            align-items: center;

            padding-bottom: 20px;
          }

          div.enlarged-card-header-text {
            //* grid layout used to overlap text and icon in desktop mode
            @include desktop-width-1 {
              grid-row: 1/2;
              grid-column: 1/2;
            }
            h2.big-add {
              font-weight: 700;
              font-size: 19px;

              @include desktop-width-1 {
                font-size: 23px;
              }
            }

            p.big-status,
            p.big-time {
              font-size: 14px;
              margin: 15px 0;
              @include desktop-width-1 {
                font-size: 16px;
              }
            }

            p.big-time {
              margin-bottom: 25px;
              @include desktop-width-1 {
                margin-bottom: 15px;
              }
            }

            p.data-source {
              font-family: $metropolis;
              font-size: 8px;

              font-weight: 400;

              color: $accent;

              span {
                font-family: $metropolis;
                color: $accent;
              }
            }
          }

          img.enlarged-card-header-image {
            grid-row: 1/2;
            grid-column: 1/2;
            // padding-right: 7%;
            justify-self: end;
            padding-right: 8%;
            display: none;
          }
        }
      }

      hr.enlarged-card-divider {
        // margin: 0 7%;
        border: none;
        border-top: $accent solid 0.5px;
      }
      .enlarged-card-divider2 {
        margin-top: 10px;
        display: none;
      }

      section.charts-bit {
        padding-top: 30px;
        // padding-bottom: 25px;

        @include desktop-width-1 {
          // padding-bottom: none;
          padding-top: 20px;
        }

        .mobile-select-chart-type {
          margin-bottom: 20px;
          font-size: 12px;
          font-family: $ibm-sans;

          @include desktop-width-1 {
            display: none;
          }
        }

        h3 {
          margin-bottom: 50px;
          font-size: 11px;
          display: flex;
          align-content: center;
          align-items: center;
          justify-content: center;
          text-align: left;
          font-weight: normal;

          .select-chart-type {
            // font-size: 14px;

            padding-bottom: 3.5px;
          }

          @include desktop-width-1 {
            margin-bottom: 35px;
            font-size: 11px;
          }

          @media only screen and (max-width: 616px) {
            .select-chart-type {
              display: none;
            }
          }

          // @media only screen and (max-width: 382px) {
          //   font-size: 14px;
          // }
          // @media only screen and (max-width: 362px) {
          //   font-size: 13px;
          // }
          // @media only screen and (max-width: 344px) {
          //   font-size: 12px;
          // }
          // @media only screen and (max-width: 327px) {
          //   font-size: 11px;
          // }

          img {
            height: 14px;
            margin-left: 6px;
          }

          a {
            text-decoration: none;
            font-weight: normal;

            display: flex;
            align-content: center;
            align-items: center;
            width: max-content;

            padding-bottom: 3.5px;

            cursor: pointer;

            font-family: $ibm-sans;
          }

          a.ina-timeline-choice {
            margin-left: 18px;
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto auto;
            @media only screen and (max-width: 616px) {
              margin-left: 0;
            }
          }

          a.chart-choice {
            //* simple flex not working for this in chrome
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto auto;
          }

          a.selected-chart.timeline-bar-selector {
            border-bottom: $accent 1.5px solid;
            font-weight: bold;
            color: $accent;
          }

          .slash-div {
            margin: 0 15px;
          }
        }

        .bar-container {
          display: none;

          width: 100%;

          @include desktop-width-1 {
            width: 77.5%;
            margin: auto;
          }

          .bar-title {
            margin-bottom: 10px;
            padding: 0 2px;
          }

          .container {
            margin: auto;
            // border-top: 3px $accent solid;
            // border-bottom: 3px $accent solid;

            rect {
              margin: auto;
            }
          }
        }
      }
    }
  }

  footer {
    background-color: transparent;
    height: 129px;
    padding-left: 9%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;

    position: absolute;
    width: 100%;
    bottom: 0;

    @include desktop-width-1 {
      padding: 0% 5.2%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      bottom: 0;

      height: 75px;
      margin-top: initial;
    }

    div.left-links {
      margin-bottom: 25px;

      @include desktop-width-1 {
        margin: 0;
      }

      ul {
        color: $dark;
        display: flex;
        flex-direction: row;

        li {
          color: $dark;
          a {
            color: $dark;
          }
        }
      }

      .divider,
      .help {
        margin-left: 20px;
      }
    }

    div.right-content p {
      color: $dark;
    }

    background-color: $light;
    background-image: -webkit-linear-gradient(
      200deg,
      $bg-grey 0%,
      $footer 100%
    );
    background-image: -moz-linear-gradient(200deg, $bg-grey 0%, $footer 100%);
    background-image: -o-linear-gradient(200deg, $bg-grey 0%, $footer 100%);
    background-image: linear-gradient(200deg, $bg-grey 0%, $footer 100%);
  }
}
