$ibm-sans: rubik, "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$josefin: "Josefin Sans", "Glacial Indifference", "Glacial Indifference",
  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$metropolis: "Work Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";

$dark: #1b2429;
$dark: #212c30;
// $dark: #1c2232;
$black: #1b2429;
$footer: #d0d9d8;
$light: #e1e5e9;
// $light: #e4e8ec;
$lighter: #eaf3f8;
$lighter-2: #f4fbfd;
$bg-grey: #c2ced4;
$bg-grey: #c2ced4;
$bg-grey-2: #d3d9df;
$light-outline: #cadbdf;
$text-light: #6d8faf;

$text-light-2: #1d354b;
$text-light-3: #7390ac;
$accent: #ffc64a;
$accent-dark: #ffb005;
$accent-2: #ffffff;

$desktop-width-1: 950px;

$accent-top: #e68181;
$accent-left: #b6a2be;
$accent-right: #6db18f;
$accent-bottom: #ecae7c;
$accent-light: #fff48f;

@mixin desktop-width-1 {
  @media (min-width: #{$desktop-width-1}) {
    @content;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: $ibm-sans;
}

//* creates overlap
div.full-page-wrapper main {
  @include desktop-width-1 {
    display: grid;

    margin: 0;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    .dash-bar-and-selector {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      width: 137px;
      margin-left: 5.2%;
      position: relative;
      z-index: 1;
    }

    .map-container {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      position: relative;
    }

    //! remove later
    .error-message {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
  }
}

//* For preloader
.preloader-container {
  background: $text-light;
}

h1.preloader-h1 span {
  color: $accent;
}

@keyframes letterChange {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-15px) translateX(-15px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.let1 {
  animation: letterChange 0.9s linear infinite;
}

.let2 {
  animation: letterChange 0.9s linear 0.4s infinite;
}

.let3 {
  animation: letterChange 0.9s linear 0.8s infinite;
}

.let4 {
  animation: letterChange 0.8s linear 1.2s infinite;
}

//* Preloader ends

.map-container {
  position: relative;
  width: 88%;
  margin-top: 32px;
  margin: 32px 6% 0;
  // border: 1.5px solid $accent;
  background-color: $bg-grey;

  display: grid;
  grid-template-rows: auto auto;

  @include desktop-width-1 {
    // margin: 0 0 0 5%;
    width: 100%;
    margin: 0;
    height: 100%;
    grid-template-rows: auto;
    grid-template-columns: 80% 20%;

    //* added to prevent text spill
    @media only screen and (max-width: 1213px) {
      grid-template-columns: 70% 30%;
    }
  }
}

#map {
  background-color: $light;
  position: relative;
  width: 100%;
  height: 630px;
  grid-row: 2 / 3;

  @include desktop-width-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: calc(100vh - 161.7px);
    // height: 100%;

    @media only screen and (max-height: 829px) {
      height: 685.5px;
    }
  }
}

.map-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: $accent-2;
  grid-row: 1 / 2;

  * {
    text-align: center;
  }

  @include desktop-width-1 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    height: 100%;

    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 100%;
    align-items: center;
    justify-content: center;
    // border-left: 1.5px solid $accent;
  }
}

.instr-overlay {
  padding: 20px 10%;
  border-bottom: 0.5px solid $accent;

  @include desktop-width-1 {
    padding: 0 10%;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 21px;
    font-weight: 600;

    @include desktop-width-1 {
      font-size: 30px;
    }
  }
}

section.key-overlay {
  padding: 20px 0;
  border-bottom: 0.5px solid $accent;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  @include desktop-width-1 {
    padding: 0;
    border: 0;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;

    flex-direction: column;
  }

  h4 {
    margin-right: 3%;
    font-size: 11px;
    font-weight: bold;
    color: $text-light;

    display: none;

    @include desktop-width-1 {
      display: block;
      margin-right: 0;
      font-weight: 400;
      font-family: $metropolis;
      font-size: 13px;
      margin-bottom: 10px;
    }
  }

  div.light-section {
    margin-left: 7%;

    @include desktop-width-1 {
      margin-left: 0;
      margin-top: 5%;
    }
  }

  div.label-swab {
    display: flex;
    align-items: center;
    justify-content: left;

    div.swab {
      border-radius: 3px;
      width: 33px;
      height: 13px;

      margin-right: 7px;

      -moz-box-shadow: 3px 3px 3px 3px rgba(32, 32, 32, 0.07);
      box-shadow: 3px 3px 3px 3px rgba(32, 32, 32, 0.07);

      @include desktop-width-1 {
        width: 38px;
        height: 18px;
      }
    }

    p {
      font-size: 14px;
      text-align: right;

      //* added to prevent text spill
      @media only screen and (max-width: 483px) {
        font-size: 12px;
      }

      @include desktop-width-1 {
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  div.no-light-key-swab {
    background-color: $black;
  }

  div.light-key-swab {
    background-color: $accent-dark;
    // border: 0.5px solid $light-outline;
  }
}

.info-overlay {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  padding: 0 2%;

  display: none;

  @include desktop-width-1 {
    padding: 0;
    padding: 0 5%;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;

    border-bottom: 0.5px solid $accent;

    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
  }

  div {
    padding: 20px 0;

    &:last-child {
      border-left: $accent solid 0.5px;
    }
  }

  h5 {
    font-size: 10px;
    margin-bottom: 5px;
    color: $text-light;
    font-family: $metropolis;
    font-weight: 400;

    @include desktop-width-1 {
      font-size: 13px;
      margin-bottom: 7px;
    }
  }

  p {
    font-size: 17px;
    font-weight: 700;

    //* added to prevent text spill
    @media only screen and (max-width: 483px) {
      font-size: 14.5px;
    }

    @include desktop-width-1 {
      font-size: 25px;
    }
  }

  button {
    border: 0;
    font-size: 13px;
    font-weight: 400;
    padding: 0 5%;
    background-color: $dark;
    color: white;
    cursor: pointer;
    border-radius: 4px;

    height: 60%;
    width: 80%;
    margin: auto;

    &:hover {
      opacity: 0.8;
    }

    @include desktop-width-1 {
      font-size: 20px;
    }
  }
}

.modal-streets-list {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  list-style-type: decimal;
  list-style-position: inside;

  .modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bg-grey;
    padding: 94px 30px 37.5px;
    width: 319px;

    border-radius: 4px;

    @media only screen and (max-width: 372px) {
      width: 80%;
      padding: 20% 10% 15%;
    }

    ::-webkit-scrollbar {
      width: 10px;
      background-color: $accent-2;
    }

    ::-webkit-scrollbar-track {
      background-color: $accent-2;
      border: 0.5px solid $dark;
    }

    ::-webkit-scrollbar-thumb {
      background-color: $dark;
    }

    button {
      position: absolute;
      top: 0;
      right: 0;
      background: $lighter-2;
      border-radius: 0 4px 0 10px;
      border: 0;
      // border-left: 1px solid $text-light;
      // border-bottom: 1px solid $text-light;
      color: $text-light;
      height: 35px;
      width: 70px;
      font-size: 13.5px;
      cursor: pointer;

      transition: all 0.5s;

      &:hover {
        background: $dark;
        color: $lighter-2;
        border: 0;
      }
    }

    h3 {
      margin-bottom: 12px;
      padding-bottom: 1px;
      border-bottom: 2px solid $accent-dark;
      font-size: 18px;
    }

    input {
      width: 100%;
      height: 25px;
      padding-left: 10px;
      background-color: $lighter-2;
      border: 0;
      border-radius: 4px;
      border: 0.5px solid $footer;
      margin-bottom: 10px;

      //* added to remove default mobile (ios) form box-shadow inset
      -webkit-appearance: none;

      &:focus {
        border: 1px solid $text-light;
      }

      &::placeholder {
        color: $text-light;
      }
    }

    .streets-list-container {
      height: 200px;
      overflow-y: auto;
    }

    .street-item {
      font-size: 13px;
      padding: 7px 0;

      &:first-child {
        padding-top: 0;
      }
    }
  }
}
