$dark: #212c30;
$footer: #d0d9d8;
$light: #e1e5e9;
$lighter: #eaf3f8;
$lighter-2: #f4fbfd;
$bg-grey: #c2ced4;
$light-outline: #cadbdf;
$text-light: #6d8faf;

$text-light-2: #1d354b;
$accent: #ffcb59;
$accent-dark: #e79e00;
$accent-2: #ffffff;

//* bit written for animation and JS manipulation
.full-page-wrapper {
  display: none;
}
@keyframes heightReduction {
  from {
    height: calc(100vh - 161.7px);
  }
  to {
    height: 0px;
  }
}

.preloader-container {
  background: $bg-grey;
  height: calc(100vh - 6.3px);
  overflow-y: hidden;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  animation: heightReduction 2s cubic-bezier(0.23, 1, 0.32, 1) 2s forwards;
}

h1.preloader-h1 {
  display: flex;
}

h1.preloader-h1 span {
  color: $dark;
  font-size: 100px;
  letter-spacing: -0.08em;
  font-weight: 700;
  font-family: "Josefin Sans", "Glacial Indifference", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@keyframes letterChange {
  0% {
    transform: translateY(0);
    // transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-10px);
    // transform: translateY(-10px) translateX(-10px);
  }
  100% {
    transform: translateY(0);
    // transform: translateY(0) translateX(0);
  }
}

.let1 {
  animation: letterChange 0.6s linear infinite;
}

.let2 {
  animation: letterChange 0.6s linear 0.4s infinite;
}

.let3 {
  animation: letterChange 0.6s linear 0.8s infinite;
}

.let4 {
  animation: letterChange 0.6s linear 1.2s infinite;
}
